:root {
    --primary: rgb(19, 19, 54);
    --primary-gry: rgb(204, 204, 247);
    --color: rgb(44, 248, 44); 
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    background-color: var(--primary);
    font-family: 'Arial';
    font-weight: 400;
    line-height: 1.5;
}
.container{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

}
h2{
    color: var(--color);
    font-size: 1.6rem;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 700px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-content: center;

}
.photo{
    align-content: center;
}
h1{
    color: #fff;
    font-size: 2.4rem;

}
h3{
    color: var(--color);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}
h4{
    color: var(--color);
    font-size: 1.6rem;
    text-align: center;
}
p{
    color: white;
    width: 90%;
    
}

img{
   width: 100%;
   max-width: 95%;
   height: auto;
    border-radius: 20%;

}

 nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
 }
 ul{
    list-style: none;
 }
.flex-box-1{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}
.flex-box-two{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.flex-items{
    line-height: 1.6;
    width: 20rem;
     border: 1px solid var(--color);
     border-radius: 5px;
     padding: 1rem;
     transition: transform 0.15s ease;
     box-shadow: 15px 2px 15px rgba(10, 250, 66, 0.3);
}
.flex-items:hover{
    transform: rotate(20deg);
}
.lol{
  
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.good{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color);
}
.btn-primary{
    color:;
}

.lo{
    color: var(--color);
    margin: 0 auto;
    border: 1px solid var(--color);
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}